.rules {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 400px;
}

.rule:hover {
    cursor: pointer;
    background: #78b6ec;
}

.rule {
    width: 225px;
    height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 4px 4px 2px #1d1b1b;
    background: #68e277;
}